{{>partials/header}}
<section class="title-main">
    <div class="title-main-image">
        <div class="title-main-overlay">
            <div class="title-main-text">
                <h1>Team Bravo</h1>
                <span>Project Stimular</span>
            </div>
        </div>
    </div>
</section>
<section class="main-description">
    <div class="container">
        <div class="row">
            <div class="main-description-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur in arcu ac purus fringilla mollis. Mauris lobortis dolor 
                vitae arcu egestas, pretium lobortis urna aliquam. Aenean varius libero 
                nec tellus porta gravida. Aenean cursus ultricies bibendum. Morbi semper 
                massa sit amet ultricies maximus. Mauris id lorem elit. Vestibulum in orci 
                ipsum. Integer et porta lectus. Morbi congue gravida elit, sed porttitor 
                elit ultrices et. Suspendisse nec nibh nisi. Nam faucibus ac lorem in convallis. 
                Nullam turpis ipsum, finibus nec porta non, imperdiet quis nisi. Nulla lorem 
                felis, tincidunt vitae dapibus sed, mollis a tellus. Suspendisse sed urna ligula. 
                Praesent auctor vitae purus quis aliquam. Donec ultrices est a felis dapibus semper.</p>
            </div>
        </div>
    </div>
</section>
<section class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2>Team</h2>
            </div>
            <div class="col-sm-12 col-md-3 team-member">
                <img class="team-member-image" src="img/ali.JPG">
                <h3>Ali Shahid</h3>
            </div>
            <div class="col-sm-12 col-md-3 team-member">
                <img class="team-member-image" src="img/bas.JPG">
                <h3>Bas Ekkelenkamp</h3>
            </div>
            <div class="col-sm-12 col-md-3 team-member">
                <img class="team-member-image" src="img/wiwi.JPG">
                <h3>Wiwi To</h3>
            </div>
            <div class="col-sm-12 col-md-3 team-member">
                <img class="team-member-image" src="img/onno.JPG">
                <h3>Onno Prins</h3>
            </div>
        </div>
    </div>
</section>
<section class="concepts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2>Concepten</h2>
            </div>
            <div class="col-sm-12 col-md-12 concept">
                <h3>Concept 1</h3>
                <img class="concept-image" src="img/car.jpeg">
                <div class="concept-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Curabitur in arcu ac purus fringilla mollis. Mauris lobortis dolor 
                    vitae arcu egestas, pretium lobortis urna aliquam. Aenean varius libero 
                    nec tellus porta gravida.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 concept">
                <h3>Concept 2</h3>
                <img class="concept-image" src="img/car.jpeg">
                <div class="concept-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Curabitur in arcu ac purus fringilla mollis. Mauris lobortis dolor 
                    vitae arcu egestas, pretium lobortis urna aliquam. Aenean varius libero 
                    nec tellus porta gravida.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 concept">
                <h3>Concept 3</h3>
                <img class="concept-image" src="img/car.jpeg">
                <div class="concept-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Curabitur in arcu ac purus fringilla mollis. Mauris lobortis dolor 
                    vitae arcu egestas, pretium lobortis urna aliquam. Aenean varius libero 
                    nec tellus porta gravida.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{>partials/footer}}