html {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: #2e3f34;
}

h1 {
  font-size: 54px;
  font-family: "Fredoka", sans-serif;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

.title-main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

.title-main-image {
  height: 100%;
  /* background-position: center;
  background-attachment: fixed;
  background-size: cover; */
  background-color: #F2F2F2;
}

.title-main-overlay {
  height: 100%;
  width: 100%;
  /* background-color: rgba(22, 25, 53, 0.8); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-main-image img{
  display: block;
  height: 500px;
}

.main-description {
  padding: 2rem 0;
  background-color: #d8e5e9;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
}

.main-description-text div {
  padding: 0.5rem 0;
}

.main-description-text a {
  color: #333333;
  text-decoration: none;
}

.main-description-text h2 {
  color: #333333;
}

.main-description-text h3 {
  color: #333333;
}

.team-members {
  padding: 2rem 0;
  background-color: #d8e5e9;
}

.team-member {
  margin: 2rem 0;
  cursor: pointer;
}

.team-member h3 {
  text-align: center;
  margin: 8px 0;
  color: #333333;
  transition: all 0.1s;
}

.team-member span {
  display: block;
  text-align:center;
  font-size: 16px;
  color:#333333;
}

.team-member-image {
  display: block;
  width: 100%;
  transition: all 0.2s ease-in;
}

.team-member:hover .team-member-image {
  transition: all 0.2s ease-out;
  border-radius: 0;
}

hr {
  color: #333333 !important;
}

.concepts {
  background-color: #d8e5e9;
  padding: 2rem 0;
}

.concepts h3 {
  color: #333333;
}

.concepts a {
  color: #333333;
}

.concept-image {
  display: block;
  width: 100%;
}

.concept-text {
  color: #333333;
  font-size: 20px;
}

/* Slideshow */
.slideshow-container {
  position: relative;
}

.slideshow-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Hide the images by default */
.mySlides1,
.mySlides2,
.mySlides3 {
  display: none;
  height: 400px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #1A1A1A;
  color: #ffffff;
}

.slideshow-row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding: 1rem 0;
  background-color: #333333;
  text-align: center;
  color: #e1e7e9;
}
