html {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: #56e9ff;
}

h1 {
  font-size: 54px;
  font-family: "Fredoka", sans-serif;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

.title-main {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
}

.title-main-image {
  height: 100%;
  background-position: center;
  background-attachment: fixed;
}

.title-main-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(22, 25, 53, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-main-text {
  text-align: center;
}

.title-main-text h1 {
  font-size: 80px;
}

.title-main-text span {
  color: #ffffff;
}

.main-description {
  padding: 2rem 0;
  background-color: #0f1124;
  color: lightgrey;
  font-size: 24px;
  font-weight: 300;
}

.main-description-text div {
  padding: 0.5rem 0;
}

.main-description-text a {
  color: #ff57ab;
  text-decoration: none;
}

.main-description-text h2 {
  color: #ff57ab;
}

.main-description-text h3 {
  color: #ff57ab;
}

.team-members {
  padding: 2rem 0;
  background-color: #0f1124;
}

.team-member {
  margin: 2rem 0;
  cursor: pointer;
}

.team-member h3 {
  text-align: center;
  margin: 16px 0;
  color: #ff57ab;
  transition: all 0.1s;
}

.team-member-image {
  display: block;
  border-radius: 16px;
  width: 100%;
  transition: all 0.2s ease-in;
  filter: grayscale(1);
}

.team-member:hover .team-member-image {
  transform: translateY(-8px);
  transition: all 0.2s ease-out;
  filter: grayscale(0);
  border-radius: 0;
}

hr {
  color: white !important;
}

.concepts {
  background-color: #0f1124;
  padding: 2rem 0;
}

.concepts h3 {
  color: #ff57ab;
}

.concepts a {
  color: #ff57ab;
}

.concept-image {
  display: block;
  width: 100%;
}

.concept-text {
  color: lightgrey;
  font-size: 20px;
}

/* Slideshow */
.slideshow-container {
  position: relative;
}

.slideshow-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Hide the images by default */
.mySlides1,
.mySlides2,
.mySlides3 {
  display: none;
  height: 400px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ff57ab;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #ff57ab;
  color: #ffffff;
}

.slideshow-row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding: 1rem 0;
  background-color: #1f2135;
  text-align: center;
  color: #56e9ff;
}
